@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #FFFFFF;
  --bg-color: #e5e7eb;
  --text-color: #FFFFFF;
  --border-color: #d0d0d0;
  --product-card-color: #EEEEEE;
  --btn-primary-color: #000000FF;
  --btn-secondary-color: #f16d6d;

  --font-size-base: 1rem;
  --font-family: 'Inter', sans-serif;
}
