@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #FFFFFF;
  --bg-color: #FFFFFF;
  --text-color: #a358e8;
  --border-color: #d0d0d0;
  --product-card-color: #EEEEEE;
  /*--btn-primary-color: #60a852;*/
  /*--btn-secondary-color: #f16d6d;*/
  /*--card-bg-color: #e5e7eb;*/

  --font-size-base: 1rem;
  --font-family: 'Inter', sans-serif;
}
