@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --bg-color: #a358e8;
  --secondary-color: #FFFFFFFF;
  --btn-primary-color: #60a852;
  --product-card-color: #EEEEEE;
  --btn-secondary-color: #f16d6d;
  --border-color: #d0d0d0;

  --font-size-base: 1rem;
  --font-family: 'Inter', sans-serif;
}
